*.ttf
.venv
__pycache__

.env
*.png

temp.py

testing
helpers

*.db

cogs/api_depending/TODO.md
api_database.py

main.spec

build
dist
persistent_data/logs/*
persistent_data/configs/credential_configs/*